:root {
    --primary-color: #A8511F;
    --secondary-color: #6D8A50;
}

/* Header atas admin */
#header {
    background-color: var(--primary-color);
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: white;
}

/* Warna judul tabel di halaman admin */
.module caption {
    background-color: var(--secondary-color);
    color: white;
}

/* Tombol */
.button, input[type=submit], input[type=button], .submit-row input {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background-color: var(--secondary-color);
}

/* Sidebar aktif */
#nav-sidebar .current-model {
    background-color: var(--secondary-color);
    color: white;
}

/* Font biar modern */
body, h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
}
